body {
    margin: auto;
    background-color: #000;
    max-width: 100%;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
 
.nav-bar {
    background-color: #ffd428;
    overflow: hidden;
}
 
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    position: relative;
}
 
nav > .nav-btn {
    display: none;
}
 
nav > #nav-check {
    display: none;
  }
 
nav .navigation {
    display: inline;
}
 
nav > #nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
 
nav .navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 20px;
  }
nav .navigation ul li a {
    
    margin-right: 30px;
    text-decoration: none;
    color: white;
  }
 
nav #nav-links li a:hover {
    color: #ffd428;
    cursor: pointer;
}
 
nav > #nav-check {
    display: none;
  }
 
nav .logo img {
    top: 10%;
}
 
.main {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    margin-top: 100px;
    padding: 20px;
    
}
 
.main .sign .img {
    height: auto;
    margin-right: 20px;
    width: 300px;
}
 
.main .text {
    text-align: center;
    font-style: normal;
    color: #FFF;
    margin: 20px;
    width: 100%;
}
 
.main .image .img {
    height: auto;
    width: 100%;   
}
 
.sign {
    align-items: center;
    margin-bottom: 5px;
}
 
.text {
    text-align: center;
    color: #FFF;
    margin: 20px;
    width: 100%;
}
 
@media only screen and (max-width: 800px) {
    .logo .img {
        margin-left: 20px;
    }
 
    .image .img {
        margin-right: 0;
        width: 100%;
    }
}
 
@media  screen and (max-width: 576px) {
    nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
    
       /* .nav > .nav-btn > label { */
    nav > .nav-btn > labe {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
      }
    
    nav > .nav-btn > label:hover,nav  #nav-check:checked ~ .nav-btn > label {
        background-color: black;
        cursor: pointer;
      }
    
    nav > .nav-btn > label > i {
        display: block;
        font-size: 2rem;
        color: white;
      }
    
    nav > #nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: black;
        height: 0px;
        /* transition: all 0.3s ease-in; */
        overflow-y: hidden;
        top: 50px;
        left: 0px;
      }
    
    nav > #nav-links > ul {
        display: block;
        line-height: 1.5em;
        width: 100%;
      }
 
    nav > #nav-links > a {
        display: block;
        width: 100%;
      }
    nav > #nav-check:not(:checked) ~ #nav-links {
        height: 0px;
      }
    nav > #nav-check:checked ~ #nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
      }
}